

.Notifications {
    border: 2px dashed #EB0045;
    font-weight: 700;
}
li{
    font-size: 18px;
}
li[dataPriority='default'] {
    color: blue;
  }
li[dataPriority='urgent'] {
    color: red;
    font-weight: 900;
  }
li[dataPriority='ultraUrgent'] {
    color: rgb(161, 5, 5);
    font-weight: 900;
  }