#count {
    font-weight: bold;
    display: inline;
}

button {
    display: inline;
    margin-right: 12px;
}
#logo{
    width:200px;
    height: 200px;
    background-image: url(../assets/holberton-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}