.App-body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 18px;
    flex:0.6;
    font-weight: 800;
    padding-bottom: 200px;
  
  }

  .App-body p {
    padding-bottom: 48px;
  }
  